/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 設定全域變數 */
:root {
  --primary-color: black; /* 定義主要顏色變數 */
  --secondary-color: #895e3c; /* 定義次要顏色變數 */
  --accent-color: #ffffff; /* 定義強調顏色變數 */
  --border-color: #895e3c; /* 定義邊框顏色變數 */
  --font-family: "Noto Sans TC", sans-serif; /* 定義字體變數 */
  --font-size-h1: 2rem; /* h1 標題文字大小 ,32px*/
  --font-size-h2: 1.8rem; /* h2 標題文字大小,28.8px */
  --font-size-h3: 1.5rem; /* h3 標題文字大小,24px  */
  --font-size-h4: 1.25rem; /* h4 標題文字大小,20px */
  --font-size-p: 16px; /* 段落文字大小 */
  --bg-color: #fdf7e4;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p {
  font-size: var(--font-size-p);
}

a {
  color: #747474;
  text-decoration: none;
}

ul,
ol {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family);
  background-color: var(--bg-color);
}

section {
  margin-bottom: 10%;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 手機版 */

/* footer */
/*
footer {
  display: flex;
  width: 1440px;
  height: 1046px;
  padding: 45px 123px 77px 123px;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  background-color: var(--secondary-color);
}
footer > div {
  display: flex;
  width: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}
*/

/* 電腦版 */
@media screen and (max-width: 1440px) {
  /* 全域*/
  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1.2rem;
    padding: 1rem 0;
  }
  .container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* header */
  .header {
    display: flex;
  }
  .menu-icon {
    display: none;
  }
  .logo > img {
    width: 80%;
  }
  .main-nav {
    color: var(--border-color);
    position: relative;
    width: 100%;
  }
  .main-nav a {
    color: var(--primary-color);
    display: block;
    padding: 10px 20px;
    text-decoration: none;
  }
  .main-nav > ul {
    display: flex;
    justify-content: center;
  }

  .menu-item {
    position: relative; /* 將 menu-item 設置為相對定位 */
    display: block;
    pointer-events: all; /* 允許點擊事件穿過子元素 */
    margin: 14px;
  }

  .menu-item > a {
    align-content: space-between;
  }

  .menu-item:hover .sub-menu {
    display: flex;
  }
  .sub-menu {
    display: none;   
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid var(--border-color);
    white-space: nowrap;
    align-items: flex-start;
    z-index: 1; /* 確保 sub-menu 在上方顯示 */
  }
  .sub-menu-item {
    display: block;
  }
  .sub-menu.show {
    display: flex; /* 顯示 sub-menu */
  }

  .sub-menu-item > a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--primary-color);
  }

  .sub-menu-item > a:hover {
    background-color: #f0f0f0;
  }

  .sub-menu-item {
    align-content: flex-start;
  }

  .sub-menu-item > p {
    margin: 10px;
  }

  .item {
    display: block;
  }

  .nav-icon {
    display: flex;
    height: 10%;
    margin-left: 100px;
  }
  .btn-icon {
    height: 20%;
    margin-left: 10px;
  }
}
