/* banner */
.banner {
  background-image: url("../images/background-notice.png");
  background-position-y: 25%;
}

body{
  /* overflow-x: hidden;
  overflow-y: scroll; */
  overflow: hidden;
  /* height: 100svh; */
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(100vh);
}

header{
  scroll-snap-align: start;
}

footer{
  scroll-snap-align: start;
}

/* .banner{
  scroll-snap-align: start;
} */

.roll{
  overflow-y: scroll;
  height: 100svh;
  scroll-snap-points-y: repeat(100svh);
  scroll-snap-type: y mandatory;
}

section{
  margin: 0;
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: space-between;
  scroll-snap-align: start;
  overflow-x: hidden;
  /* align-items: center; */
}

section > hr{
  opacity: 1;
  border-top: 5px solid;
  border-radius: 50px;
}

section > h2{
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 500;
}

.title{
  height: 100svh;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  /* scroll-snap-type: none; */
  padding: 0 10% 0 10%;
  flex-direction: column;
  justify-content: center;
  background-color: var(--beige);
}

.title > h1 {
  font-size: 4.5rem;
  color: var(--dark-green);
  font-weight: 600;
}

.title > img {
  width: 60%;
  position: absolute;
  top: 20%;
  right: -8%;
}

.age{
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 10% 0 10%;
  background-color: #EBFAFF;
}

.age > img {
  width: 50%;
}

.choose{
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 10% 0 10%;
  background-color: var(--beige);
}

.choose > div > h2{
  font-size: 3rem;
  line-height: 4rem;
}

.choose > div > ul{
  flex-direction: column;
  list-style-image: url(../images/icon_pet_ulli.png);
  /* text-align: justify; */
}

.choose > div > ul > li{
  width: 100%;
  text-align: justify;
  font-size: 2rem;
  line-height: 3.125rem;
  margin-top: 30px;
}

.choose > img {
  width: 50%;
}

.docs{
  background-color: #EBFAFF ;
  padding: 0 15%;
  align-items: center;
}

.docs > img{
  width: 50%;
}

.register{
  padding: 0 10%;
  align-items: center;
  background-color: #D1F4FF;
}

.register > img {
  width: 50%;
}

.prevent{
  padding: 0 10%;
  align-items: center;
}

.prevent > img{
  width: 50%;
}

.fix{
  width: 100%;
  align-items: center;
  padding: 0 10% 0 10%;
  background-color: var(--beige);
}

.fix > div > h2{
  font-size: 3rem;
  line-height: 4rem;
}

.fix > div > ul{
  flex-direction: column;
  list-style-image: url(../images/icon_pet_ulli.png);
  /* text-align: justify; */
}

.fix > div > ul > li{
  width: 100%;
  text-align: justify;
  font-size: 2rem;
  line-height: 3.125rem;
  margin-top: 30px;
}

.fix > img {
  width: 50%;
}

.free{
  align-items: center;
  padding: 0 15%;
  background-color: #EBFAFF;
}

.free img{
  width: 50%;
}