/* 勾勾 */
.cl-checkbox {
  position: relative;
  display: inline-block;
}

/* Input */
.cl-checkbox>input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  left: -10px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: none;
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.cl-checkbox>span {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

/* Box */
.cl-checkbox>span::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 3px 11px 3px 1px;
  border: solid 2px;
  /* Safari */
  border-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  width: 18px;
  height: 18px;
  vertical-align: top;
  transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.cl-checkbox>span::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 1px;
  width: 10px;
  height: 5px;
  border: solid 2px transparent;
  border-right: none;
  border-top: none;
  transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.cl-checkbox>input:checked,
.cl-checkbox>input:indeterminate {
  background-color: #018786;
}

.cl-checkbox>input:checked+span::before,
.cl-checkbox>input:indeterminate+span::before {
  border-color: #018786;
  background-color: #018786;
}

.cl-checkbox>input:checked+span::after,
.cl-checkbox>input:indeterminate+span::after {
  border-color: #fff;
}

.cl-checkbox>input:indeterminate+span::after {
  border-left: none;
  transform: translate(4px, 3px);
}

/* Hover, Focus */
.cl-checkbox:hover>input {
  opacity: 0.04;
}

.cl-checkbox>input:focus {
  opacity: 0.12;
}

.cl-checkbox:hover>input:focus {
  opacity: 0.16;
}

/* Active */
.cl-checkbox>input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.cl-checkbox>input:active+span::before {
  border-color: #85b8b7;
}

.cl-checkbox>input:checked:active+span::before {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Disabled */
.cl-checkbox>input:disabled {
  opacity: 0;
}

.cl-checkbox>input:disabled+span {
  color: rgba(0, 0, 0, 0.38);
  cursor: initial;
}

.cl-checkbox>input:disabled+span::before {
  border-color: currentColor;
}

.cl-checkbox>input:checked:disabled+span::before,
.cl-checkbox>input:indeterminate:disabled+span::before {
  border-color: transparent;
  background-color: currentColor;
}

/* btn */
.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* 寵物主頁 */
#pet-desc {
  width: 80%;
  margin-top: 6.25rem;
  display: flex;
  background-image: url("../images/bg-pet-infopng.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  justify-content: space-around;
  padding-right: 100px;
  padding-left: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
  /* align-items: center; */
}

#pet-img {
  width: 45%;
  /* border: 1px solid black; */
}

#img-big>img {
  border-radius: 20px;
  width: 550px;
  height: 550px;
  object-fit: cover;
}

#img-small {
  margin-top: .9375rem;
  width: 100%;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

#img-small>img {
  border-radius: 10px;
  object-fit: cover;
  width: 120px;
  height: 120px;
}

#pet-info {
  /* border: 1px solid black; */
  width: 45%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* height: 100%; */
}

.pet-hashtag {
  background-color: var(--yellow);
  color: var(--deep-blue);
  font-weight: 600;
  font-size: 32px;
  line-height: 20px;
  height: 15px;
}

.pet-name {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pet-name>img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.pet-name>p {
  font-size: 72px;
  font-weight: 600;
}

#pet-info>ul {
  display: inline;
  width: 100%;
  padding-left: 30px;
  list-style-image: url(../images/icon_pet_ulli.png);
}

#pet-info>ul>li {
  /* border: 1px solid black; */
  /* margin-top: 30px; */
  float: left;
  width: 50%;
  line-height: 60px;
  font-size: 24px;
  padding-left: 10px;
}

.pet-btn {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pet-btn>button {
  /* border: 1px solid black; */
  width: 48%;
  border-radius: 50px;
  line-height: 4.375rem;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 24px;
  background-color: var(--khaki);
}

.pet-btn>button:hover {
  /* border: 1px solid black; */
  background-color: var(--deep-blue);
}

.pet-btn > button > span{
  /* border: 1px solid black; */
  color: white;
  font-size: 20px;
}

/* 我的故事 */
#pet-story {
  width: 80%;
  margin-top: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../images/bg-pet-story.png");
  background-repeat: repeat-x;
  background-position: 50%;
}

.story-desc {
  width: 45%;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: flex-start;
}

.story-desc>h1 {
  width: 100%;
  padding-top: 20px;
  padding-right: 20px;
  line-height: 80px;
  text-align: center;
  color: white;
  letter-spacing: 40px;
  background-position: 50% 50%;
  background-size: contain;
  background-image: url("../images/titlebg.png");
  background-repeat: no-repeat;
}

.story-desc>p {
  margin-top: 10px;
  line-height: 40px;
  /* width: 80%; */
}

.story-img {
  width: 40%;
  height: 50%;
  object-fit: contain;
}

/* 健康狀態 */
#pet-health {
  width: 80%;
}

#pet-health>table {
  /* border: 1px solid black; */
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: var(--white);
  /* line-height: 100px; */
  /* height: 100px; */
}

#pet-health>table>tbody>tr>th {
  /* border: 1px solid black; */
  line-height: 100px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: var(--bean-paste);
  color: white;
  letter-spacing: 40px;
}

#pet-health>table>tbody>tr>td>label {
  /* border: 1px solid black; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* width: 20%; */
  background-color: var(--white);
  margin: 100px;
  /* line-height: 150px; */
}

#pet-health>table>tbody>tr>th>h1>img {
  margin-right: 30px;
}

.health-underline{
  width: 100%;
  height: 50px;
  background-image: url("../images/underline-paws.png");
  background-repeat: repeat-x;
}

/* 我的習慣 */
/* TODO: 背景 */
#pet-habit {
  /* width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center; */
  width: 80%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/bg-pet-habit.png");
  background-repeat: no-repeat;
  background-position: center 75%;
  background-size: 100%;
}

#pet-habit>div {
  width: 60%;
  height: 1000px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url("../images/bg-pet-habit-inside.png");
  background-repeat: no-repeat;
  background-position: center 25%;
  background-size: 100%; */
}

#pet-habit>div>h1 {
  font-size: 5rem;
  line-height: 6.25rem;
  font-weight: 600;
}

#pet-habit>div>h2 {
  margin: 1.5rem;
  font-size: 2.5rem;
  line-height: 50px;
}

#pet-habit>div>p {
  font-size: 1.25rem;
  letter-spacing: 3px;
  line-height: 2rem;
}

/* 我的技能 */
#pet-skill {
  width: 80%;
  margin-top: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../images/bg-pet-story.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: 50%;
}

#pet-skill>img {
  width: 45%;
  height: 45%;
  object-fit: cover;
}

#pet-skill>table {
  width: 45%;
  /* position: relative; */
  /* top: -10%; */
  text-align: left;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  height: 120%;
}

#pet-skill>table>tbody>tr>th>h1 {
  width: 100%;
  padding-top: 20px;
  padding-left: 80px;
  line-height: 80px;
  text-align: left;
  color: white;
  letter-spacing: 40px;
  background-position: 0% 50%;
  background-size: contain;
  background-image: url("../images/titlebg.png");
  background-repeat: no-repeat;
}

#pet-skill>table>tbody>tr>td>label {
  /* border: 1px solid black; */
  /* line-height: 50px; */
  margin: 30px;
}

/* 綜合評分 */
#pet-score {
  width: 80%;
  margin-top: 6.25rem;
  padding: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 4px 4px 10px;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
}

#pet-score > h1{
  width: 100%;
  margin-bottom: 30px;
  padding-top: 20px;
  line-height: 80px;
  text-align: center;
  color: white;
  letter-spacing: 40px;
  background-position: 50% 50%;
  background-size: contain;
  background-image: url("../images/titlebg.png");
  background-repeat: no-repeat;
}

#pet-score > ul{
  display: inline;
  width: 100%;
  letter-spacing: 1px;
}

#pet-score>ul>li {
  /* border: 1px solid black; */
  float: left;
  width: 50%;
  line-height: 60px;
  font-size: 20px;
}

.score-name{
  width: 150px;
  display: inline-block;
  line-height: 50px;
  font-size: 1.125rem;
  /* margin-right: 30px; */
  /* border: 1px solid black; */
}

.score-bar{
  width: 60%;
  height: 25px;
  display: inline-block;
  position: relative;
  text-align: center;
  align-items: center;
  border-radius: 50px;
  border: 2px solid  var(--deep-gray);
  /* background-color: #f0f0f0; */
  /* border: 1px solid black; */
}

.score-level{
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  font-size: 16px;
  border-radius: 50px;
  position: absolute;
  top: 5%;
  left: 0.5%;
}

.score-energy{
  animation: score80;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  background-color: var(--bean-paste);
  width: 80%;
}

.score-adapt{
  animation: score80;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  background-color: var(--bean-paste);
  width: 80%;
}

.score-lively{
  animation: score80;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  background-color: var(--bean-paste);
  width: 80%;
}

.score-affectionate{
  animation: score80;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  background-color: var(--bean-paste);
  width: 80%;
}

@keyframes score80{
  from {
      width: 15%;
  }
  to{
      width: 80%;
  }
}

.score-btn{
  margin-top: 30px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.score-btn > button{
  /* border: 1px solid black; */
  width: 25%;
  border-radius: 50px;
  line-height: 4.375rem;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 24px;
  background-color: var(--khaki);
}

.score-btn > button:hover {
  /* border: 1px solid black; */
  background-color: var(--deep-blue);
}

.score-btn > button > span{
  /* border: 1px solid black; */
  color: white;
  font-size: 20px;
}
/* TODO: ?位置 */
.score-btn > button > img{
  align-items: center;
  text-align: center;
}

/* .score-btn > button > #arrow-horizontal{
  border: 1px solid black;
  color: white;
} */

.hover-underline-animation {
  color: white;
}

.hover-underline-animation:after {
  background-color: white;
}

/* 背景圖案 */
.paws1{
  position: absolute;
  /* z-index: -1; */
  /* animation-name: paws;
  animation-duration: 10s;
  animation-direction: ease-in;
  animation-iteration-count: infinite; */
  transform: rotate(200deg);
  left: 80%;
  top: 15%;
}
/* 
@keyframes paws{
  0%{
    left: 80%;
    top: 10%;
  }
  50%{
    left: 60%;
    top: -10%;
  }
  75%{
    left: 60%;
    top: -10%;
  }
  100%{
    left: 80%;
    top: 10%;
  }
} */

.paws2{
  position: absolute;
  /* z-index: -1; */
  transform: rotate(-45deg);
  height: 150px;
  object-fit: contain;
  left: 50%;
  top: 95%;
}

.paws3{
  position: absolute;
  /* z-index: -1; */
  transform: rotate(45deg);
  height: 300px;
  object-fit: contain;
  left: -5%;
  top: 180%;
}

.background-paws1{
  position: absolute;
  z-index: -1;
  transform: rotate(-95deg);
  height: 500px;
  object-fit: contain;
  left: -5%;
  top: 350%;
}

.background-paws2{
  position: absolute;
  z-index: -1;
  transform: rotate(-95deg);
  height: 550px;
  object-fit: contain;
  right: 2%;
  top: 430%;
}