section {
  margin-top: 3.75rem;
}

p {
  padding: 0rem;
}

.content {
    width: 80%;
    margin: auto;
    display: flex;
    background: var(--white);
    z-index: 2;
  }

  /* 產品資料 */


.preview{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0px 50px 50px;
}
.preview button {
    width: 40%;
    padding: 0rem 25px 0rem 25px;
}