table {
  caption-side: top;
}
section {
  margin: 0 10%;
}
body {
  display: initial;
  background-color: white;
}
header {
  height: 80px;
  background-color: #89837c;
}
/* 上花邊 */
#roof {
  margin: 0;
}
#roof img {
  margin-bottom: 50px;
  width: 100%;
}
/* 步驟 */
.step {
  display: flex;
  justify-content: center;
  font-size: var(--font-size-h2);
  letter-spacing: 10px;
  border-collapse: collapse;
}
.step td {
  height: 80px;
}
.step1 {
  font-weight: 700;
  background-image: url(/images/step1-1.png);
  width: 200px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  text-align: center;
  padding-top: 15px;
}
.step2 {
  color: white;
  font-weight: 700;
  background-image: url(/images/step1-2.png);
  width: 200px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  height: 70px;
  text-align: center;
  padding-top: 15px;
  padding-left: 5px;
}
.step3 {
  color: white;
  font-weight: 700;
  background-image: url(/images/step1-3.png);
  width: 305px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  text-indent: 25px;
  padding-top: 15px;
}

/* 購物車 */
.carList {
  width: 100%;
  border-radius: 20px 20px 0 0;
  background-color: #ebebeb;
  margin-bottom: 50px;
  margin-top: 50px;
}
.carList table {
  width: 100%;
  border-collapse: collapse;
}
.carList caption {
  padding: 20px;
  font-size: var(--font-size-h3);
  text-align: left;
  background-color: #89837c;
  border-radius: 20px 20px 0 0;
  color: white;
  font-weight: 550;
  letter-spacing: 10px;
}
.carList thead tr:nth-child(1) {
  font-size: var(--font-size-h4);
  height: 60px;
  font-weight: bold;
  border-bottom: white solid 5px;
}
.carList thead tr:nth-child(2) {
  font-size: var(--font-size-p);
  height: 150px;
  border-bottom: white solid 2px;
}
.carList thead tr > td:nth-child(1) {
  text-align: center;
}
.carList thead tr > td:nth-child(2) {
  width: 50%;
}
.carList thead tr > td:nth-child(5) {
  text-align: center;
}
.carList thead tr > td:nth-child(6) {
  text-align: center;
}
/* 以下暫設定 */
.carList thead tr:nth-child(3) {
  font-size: var(--font-size-p);
  height: 150px;
  border-bottom: white solid 2px;
}
.carList thead tr:nth-child(4) {
  font-size: var(--font-size-p);
  height: 150px;
  border-bottom: white solid 2px;
}
/* 以上暫設定 */
.carList i {
  font-size: 20px;
}
.itemList {
  display: flex;
  flex-direction: row;
}
.itemList div:nth-child(1) img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.itemList > div:nth-child(2) {
  margin: auto 0;
}

.itemAmount {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
/* 相關推薦 */
.carousel-nav-icon {
  height: 48px;
  width: 48px;
}
.carousel-item {
  .col,
  .col-sm,
  .col-md {
    margin: 8px;
    height: 300px;
    background-size: cover;
    background-position: center center;
  }
}

/* 送貨及付款方式 和 訂單資訊 */
#selectAndOrder {
  display: flex;
  justify-content: space-between;
}
.carList1 {
  width: 50%;
  height: 340px;
}
.carList1 td,
.carList2 td {
  padding-left: 20px;
  font-size: var(--font-size-p);
  height: 50px;
}

.carList select {
  font-size: 14px;
  width: 97%;
  height: 35px;
  border: none;
  border-radius: 5px;
  text-indent: 5px;
}
.carList2 {
  width: 40%;
}
.carList2 tr {
  padding-top: 15px;
  width: 97%;
  display: flex;
  justify-content: space-between;
}
.carList2 tr:nth-child(4) {
  font-weight: 600;
}
/* 按鈕 */
button {
  width: 250px;
  letter-spacing: 10px;
  font-size: var(--font-size-h4);
  font-weight: 600;
  background-color: #eee;
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  color: lightcoral;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
  margin-bottom: 40px;
}
.nextButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

button:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

button:hover:not(:disabled) {
  background: lightcoral;
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

button:disabled {
  cursor: auto;
  color: grey;
}
/* 下花邊 */
#wall {
  margin: 0;
}
#wall img {
  margin: 0;
  width: 100%;
}

/* footer */
footer {
  height: 300px;
  background-color: #89837c;
}
