table {
  caption-side: top;
}
section {
  margin: 0 10%;
}
body {
  display: initial;
  background-color: white;
}
header {
  height: 80px;
  background-color: #e4ceb5;
}
/* 上花邊 */
#roof {
  margin: 0;
}
#roof img {
  max-width: 120%;
  max-height: 100%;
  overflow-x: auto;
}

/* 步驟 */
#step {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.stepbg {
  background-image: url(/images/step.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  height: 145px;
}
.everystep {
  letter-spacing: 5px;
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 50%;
  margin-left: 3%;
}
#step .nextto {
  display: flex;
}
#step .nextto:nth-last-child(1) h1 {
  color: var(--yellow);
  font-weight: 900;
  font-size: 60px;
}
#step .nextto h1 {
  color: var(--light-gray);
  font-weight: 900;
  font-size: 60px;
}
#step .nextto:nth-last-child(1) h2 {
  margin-top: 28px;
  color: var(--deep-gray);
}
#step .nextto h2 {
  color: var(--light-gray);
  margin-top: 28px;
}

/* 購物車 */
#shoppingcar {
  display: flex;
  flex-direction: column;
  margin: 0px 10% 50px 10%;
  justify-content: space-between;
}
/* 左側 */
.shoppingcarleft {
  height: fit-content;
  border-radius: 30px 30px 0 0;
  background-color: var(--creamy-yellow);
}
.carttopstyle {
  font-size: var(--font-size-h3);
  width: 100%;
  height: 55px;
  background-color: var(--deep-gray);
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 5px;
  padding-left: 15px;
  color: var(--light-gray);
  font-weight: 500;
}
.cartdetail {
  display: flex;
  width: 100%;
  height: 38px;
  background-color: var(--light-gray);
  justify-content: start;
  font-size: var(--font-size-h4);
  color: var(--deep-gray);
}
.cartdetailleft {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
  width: 49%;
  height: 100%;
}
.cartdetailright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 55%;
}
.cartdetailright > div {
  width: fit-content;
  margin-right: 20px;
}

.cartitem {
  display: flex;
  width: 100%;
  height: 160px;
  background-color: var(--creamy-yellow);
  border-bottom: 8px dotted var(--dark-gray);
  font-size: var(--font-size-p);
  padding: 10px 0;
}

.cartitemleft {
  display: flex;
  margin: 0px 5px;
  margin-right: 20px;
  width: 46%;
  height: 100%;
}
.cartitemleft .carti {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cartitemleft .itemlist {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.cartitemleft .itemlist .cartimg {
  background-color: white;
  height: 100px;
  margin-left: 5px;
}
.cartitemleft .itemlist .cartimg > img {
  width: auto;
  height: 100%;
}

.cartitemright {
  display: flex;
  justify-content: space-between;
  width: 51%;
  height: 100%;
}
.cartitemright > div {
  display: flex;
  width: fit-content;
  margin: auto 0px;
  margin-left: 15px;
}

/* 訂單金額 */
.cartbottomstyle {
  width: 100%;
  height: 300px;
  background-color: var(--creamy-yellow);
  font-size: var(--font-size-h4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}
.cartbottomstyle > div:nth-child(-n + 4) {
  display: flex;
  justify-content: space-between;
  margin-left: 49%;
  width: 50%;
  font-weight: 500;
}
.cartbottomstyle > div:nth-child(5) {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.cartbutton > button {
  width: 200px;
}

/* 按鈕 */
button {
  width: 30%;
  letter-spacing: 5px;
  font-size: var(--font-size-h4);
  font-weight: 500;
  background-color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  color: var(--deep-gray);
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}
.nextButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

button:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

button:hover:not(:disabled) {
  background: var(--deep-gray);
  color: white;
  text-shadow: 0 0.05rem #bcb4b4;
}

button:disabled {
  cursor: auto;
  color: grey;
}
/* 下花邊 */
#wall {
  margin: 40px 0 0 0;
}
#wall img {
  margin: 0;
  width: 100%;
  height: auto;
}

/* footer */
footer {
  height: 300px;
  background-color: #89837c;
}
