/* banner */
.banner {
  background-image: url(/images/banner.jpg);
  background-size: cover;
  height: 20rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.menu-a {
  margin: 0;
  color: aliceblue;
  font-size: 5rem;
  margin: 0 20px;
  line-height: 1.2;
}
.menu-b {
  margin: 0;
  color: aliceblue;
  font-size: 2rem;
  line-height: 1.8;
}
.left {
  display: flex;
  align-items: flex-end;
  width: 40%;
}
.middle {
  width: 20%;
}
.page-title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.select {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
}
.select-title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  margin: 1rem 0;
  text-align: center;
}
.select-item-a {
  display: flex;
  flex-direction: column;
}
.select-item-b {
  display: flex;
  flex-direction: column;
  width: 20%;
}

/* user edit */
.book {
  width: 90%;
  padding: 0;
  border-radius: solid 3px var(--black);
}
.book h2 {
  background-color: var(--bean-paste);
  margin: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookContainer {
  background-color: #fff;
}

.bookItem {
  margin-left: 10rem;
  display: flex;
  align-items: center;
}
.bookContainer h5 {
  margin: 100px;
}

.book {
  flex: 0 0 90%;
}

.btnItem {
  display: flex;
  justify-content: flex-end;
}
.btnConfirm {
  margin: 0.5rem;
  padding: 1rem 3rem;
  font-size: var(--font-size-h3);
  background-color: var(--khaki);
  border-radius: 80px;
}

/* 設定 .w-20 的高度與 .bookInfo 相同 */
.w-20 {
  height: 100%; /* 與父元素同高 */
}

/* 設定 .rope 的背景圖像屬性 */
.rope {
  width: 3%;
  height: 100%;
  margin-bottom: 3px;
  background-image: url("../images/user-rope.png");
  background-repeat: repeat-y;
  justify-content: flex-end;
}
