* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body {
    background-color: #FDF7E4;
} */

.container_header {
    background-color: antiquewhite;
    border-bottom: 1px solid grey;
    width: 100vw;
    max-height: 100px;
    display: flex;
    justify-content: space-around;
    /* position: fixed; */
}

.container_banner {
    background-image: url("./is_imgs/web-bg1.jpg");
    width: 100vw;
    /* height: 1126px; */
}

nav ul li {
    text-align: center;
}

ul {
    line-height: 100px;
    align-content: center;
    display: flex;
    justify-content: center;
    list-style: none;

}

li {
    margin-right: 30px;
}

nav>ul>li>a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

a:hover {
    color: lightskyblue;
}

.banner {
    display: flex;
    justify-content: center;
    /* margin-bottom: 10px; */
}

.loginLink a {
    line-height: 100px;
    margin-right: 10px;
    color: black;
}

/* 服務項目 Service */
.serviceTag {
    text-decoration: none;
    color: #FFF;
    position: absolute;
    line-height: 90px;
}
.serviceTag h1{
    letter-spacing: 30px;
}

.serviceCat>img {
    width: 350px;
    position: relative;
    margin-left: 30px;
}
/* 服務項目卡片 card */
.container_card{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("./is_imgs/web-bg1.jpg");
}
.service_card{
    width: 1240px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-left: 1px solid black;
    margin: 20px 0px;
}
.card{
    background-color: #FFF;
    display: inline-block;
    border-radius: 20px;
    height: 320px;
    margin: 30px 40px;
    /* margin-right: 125px; */
}
.card:hover{
    box-shadow: 5px 5px grey;
    margin-bottom: 70px;
    background-color: #D3AD9A;
    /* margin-right: 130px; */
}
.card_body img{
    width:70px;
}
.card_body a{
    text-decoration: none;
    color: #89837C;
    text-align: center;
    margin-top: 20px;
}
.card_body{
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}