* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 服務項目 Service */
.container_card {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: url("./is_imgs/serviceBgPhoto.jpg");
}

.service_banner ,.service_container{
    display: block flex;
    justify-content: center;
}
.service_banner{
    margin: 20px 0px;
}
.service_card {
    width: 1240px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-left: 2px solid black;
    padding: 20px 0px;
}

.card {
    background-color: #FFF;
    display: inline-block;
    border-radius: 20px;
    height: 320px;
    margin: 30px 40px;
    cursor: pointer;
}

.card:hover,
.card_body:hover,
.card-title:hover {
    background-color: #D3AD9A;
    color: #FFF;
}

.card_body {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.card_body img {
    width: 70px;
}

.card_body a {
    text-decoration: none;
    color: #895E3C;
    text-align: center;
    margin-top: 30px;
}

.card-img-top {
    border-radius: 20px 20px 0px 0px;
}